
/* font-family: 'Manrope', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
            
    height: 100vh;
    display: flex;     
    align-items: center;
    justify-content: center;
}

.img_prin img{
    width: 300px;       
    height: 300px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;       
    height: 300px;
    border-radius: 45px;
    box-shadow: -15px 35px 80px 2px hsl(210, 46%, 85%);
}

.text_principal{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 200px;
    padding-left: 15px;
    padding-right: 10px;
}
.text_principal p{
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'Manrope', sans-serif;
    padding-bottom: 15px;
    color:  hsl(217, 19%, 35%);
    
}
.text_principal p:nth-child(2){
    font-size: 15px;
    color: hsl(212, 23%, 69%);
    font-weight: 500;
}

.profile_p{
    display: flex;
    justify-content: space-around;

}

.avatar_profile .profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding-bottom: 30px;
}

.avatar_profile .profile img{
    border-radius : 50%;
    padding-right: 15px;
    width: 60px;
    height: auto;
}


.avatar_profile .profile .profile-name {
    display: flex;
    flex-direction: column;
}

.avatar_profile .profile .profile-name span:nth-child(1){
    font-family: 'Manrope', sans-serif;
    color: hsl(217, 19%, 35%);
    font-weight: 850;
    font-size: 14px;
    padding-right: 270px;
}
.avatar_profile .profile .profile-name span:nth-child(2){
    font-weight: 100;
    font-size: 14px;
    color: hsl(214, 17%, 51%);
    padding-top: 5px;
}

.attribution {
    font-size: 12px; 
    text-align: center; 
    color: hsl(212, 23%, 69%);
    padding-bottom: 40px;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}


.boton{
    border-radius: 45px;
    height: 35px;
    width: 35px;
    transition: ease-out;
}

.btn-share{
    display: block;
    position: absolute;
    top: 290px;
    bottom: 144px;
    right: 131px;
    background: hsl(217, 19%, 35%);
    transition: ease-out 2s;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    text-align: center;
}

.icons {
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-left: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: ease-in-out;
}

@media (max-width: 375px){
        .card{
            width: 300px;
            height: 800px;
            flex-direction: column;
            box-shadow: -15px 35px 90px 2px hsl(210, 46%, 95%);
            border-radius: 45px;
        }
        .text_principal{
            width: 100%;
        }
        .img_prin img{
            height: 200px;
            border-radius: 0%;
        }
        .profile_p{
        display: none;
        }
        .avatar_profile{
            display: flex;
            justify-content: flex-end;
            width: 100%;

        }
        button{
            align-self: center;
            position: relative;
            z-index: 2;
        
        }
        
        .btn-share{
            display: flex;
            align-items: center;
            width: 295px;
            height: 70px;
            position: absolute;
            right: 41px;
            top: 514px;
            border-radius: 0px;
        }
}
    
